// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
  width: 900px;
  float: left;
}

#beauty-progress {
  background: url(progressbar.gif);
}

.list { width:1000px; margin:0 auto; list-style:none; padding: 0; background-color: transparent}
.list li { display:inline; margin:0 10px 20px 0; padding:6px; border:1px #DDD solid; width: 32%; background-color: #fff}



.container h2 {
  color: #0066FF;
  font-family: arial, sans-serif;
  font-size: 26px;
}

.wrapper {
  width: 900px;
  margin: 20px auto;

}

.container {
  width: 900px;
  background-color: #fff;
  float: left;
  border: 4px solid #aaa;
}

.tables {
  margin: 20px;
  float: left;
}

.graph {
  float: right;
  margin-top: 35px;
}

.list {
  font-family:sans-serif;
}

td {
  padding:6px;
  border:solid 1px #ddd;
  margin: 0;
  color: #666;
}

td.name {
  width: 130px;
}

td.born {
  width: 160px;
}

td p {
  margin-top: 1px;
  margin-bottom: 4px;
  margin-left: 4px;
  padding: 1px;
}


